<html>
<head>
    <title>Food App</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
<div id="wrapper">
    <div id="content">
        <center>
            <div>
                <img src="static/images/logo.png" style="height: 20%;">
                <!--span-- id="country">Australia</span-->
            </div>
        </center>
        <form id="search-form" action="/findrecipes" method="post">
            <center>
                <input type="text" name="search" id="search-box" placeholder="egg, cheese, milk,..."
                       value="{{ search_words }}">
                <div id="button-container">
                    <input type="submit" value="Search again">
                </div>
            </center>
        </form>
    </div>
    <div id="results">
        <table style="padding: 30px; line-height: 20px" ;>
            {% for item in meal %}
                <tr>
                    <td colspan="2"><h2 id="title">{{ item[1] }}</h2></td>
                </tr>
                <tr>
                    <td width="50%">Minutes: {{ item[2] }}</td>
                    <td width="50%">Number of steps: {{ item[3] }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="spacer"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">{{ item[4] }}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="spacer"></div>
                    </td>
                </tr>
                 <tr>
                    <td colspan="2">
                        {% set stps = item[6][1:-1].replace("'","") %}
                        <b id="title">Ingredients</b><br/>
                        <p style="padding-left: 10px;">{{ stps }}</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <div id="spacer"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b id="title">Steps</b>
                        {% set stps = item[5][1:-1].split("',") %}
                        <ol>
                            {% for stp in stps %}
                                <li>{{ stp.replace("'","") }}</li>
                            {% endfor %}
                        </ol>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="results">
        <h2 id="title">Users reviews</h2>
        <table style="padding-left: 30px; padding-right: 30px; line-height: 20px;"x >
            {% for interaction in interactions %}
                <tr>
                    <td>User: {{ interaction[0] }}</td>
                    <td>Date: {{ interaction[1] }}</td>
                    <td>Rate: {{ interaction[2] }}</td>
                </tr>
                <tr>
                    <td colspan="3">{{ interaction[3] }}</td>
                </tr>
                <tr>
                    <td colspan="3">
                        <div id="spacer"></div>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id="footer1">
        <div id="footer-left">
        </div>
        <div id="footer-right">
        </div>
    </div>
</div>
</body>
</html>